.main_box {
    padding-top: 17%;
    z-index: 100;
}

.Super_ganit {
    text-align: center;
    color: #c1ab70;
    font-size: 60px;
    font-weight: 700;
    line-height: 122%;
    margin-bottom: 28px;
    animation-name: topFadeOut;
    animation-duration: 5s;
}

@keyframes topFadeOut {
    0% {
        top: -3rem;
        opacity: 0;
        left: 42%;
    }

    75% {
        top: 15%;
        left: 42%;
        opacity: 1;
        text-align: center;
    }

    100% {
        opacity: 1;
        left: 42%;
    }
}

.text_accent {
    display: inline-block;
    padding-right: 0.25em;
    padding-left: 0.25em;
    border-radius: 8px;
    background-color: rgba(193, 171, 112, 0.25);
    color: #c1ab70;
}

.collection {
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 170%;
    margin-bottom: 34px;
    animation-name: topFadeOut1;
    animation-duration: 5s;
}

@keyframes topFadeOut1 {
    0% {
        top: -3rem;
        opacity: 0;
    }

    75% {
        top: 25%;
        opacity: 1;
        text-align: center;
    }

    100% {
        opacity: 1;
    }
}

.mint_button {
    padding: 18px 40px;
    border-radius: 50px;
    background-color: #c1ab70 !important;
    -webkit-transition-property: background-color;
    transition-property: background-color;
    color: #fff;
    font-size: 18px;
    line-height: 115%;
    font-weight: 500;
    display: flex;
    justify-content: center;
    margin: auto;
    text-transform: capitalize;
    animation-name: topFadeOut1;
    animation-duration: 5s;
}

.mint_button:hover {
    background-color: #d8bf7d !important;
}

.mint_goldpaper {
    color: #c1ab70;
    text-align: center;
    padding-top: 20px;
    font-size: 19px;
    animation-name: topFadeOut1;
    animation-duration: 5s;
}

.image_animation {
    position: relative;
    margin-top: 20px;
    width: 100%;
    margin-bottom: 10% !important;
}

.home_image {
    width: 960px;
    height: 600px;
    margin: auto;
    justify-content: center;
    display: flex;
    margin-top: 10%;
    border-radius: 24px;
    z-index: 5;
    position: relative;
}

.moon_image {
    position: absolute;
    width: 312px;
    height: 482px;
    top: 27%;
    right: 0;
    z-index: 16;
}

.circle_image {
    position: absolute;
    width: 115px;
    height: 115px;
    top: -20%;
    right: 0;
    z-index: 3;
}

.circle_image1 {
    position: absolute;
    width: 77px;
    height: 77px;
    top: -22%;
    right: 15%;
    z-index: 2;
}

.circle_image2 {
    position: absolute;
    width: 240px;
    height: 240px;
    top: -10%;
    right: 0%;
    z-index: 1;
}

.circle_image_left {
    position: absolute;
    width: 58px;
    height: 58px;
    top: -16%;
    left: 10%;
    z-index: 1;
}

.circle_image_left1 {
    position: absolute;
    width: 77px;
    height: 77px;
    top: 0%;
    left: 0;
    z-index: 1;
}

.circle_image_left2 {
    position: absolute;
    width: 135px;
    height: 135px;
    top: 19%;
    left: 4%;
    z-index: 1;
}

.circle_image_bottom {
    position: absolute;
    width: 156px;
    height: 156px;
    bottom: -15%;
    right: 20%;
    z-index: 15;
}

.circle_image_bottom1 {
    position: absolute;
    width: 93px;
    height: 93px;
    bottom: -10%;
    right: 30%;
    z-index: 15;
}

.circle_image_bottom2 {
    position: absolute;
    width: 63px;
    height: 63px;
    bottom: -20%;
    right: 16%;
    z-index: 15;
}

.App_logo {
    animation: myothermove 5s linear;
    animation-fill-mode: forwards;
}

@keyframes myothermove {
    from {
        top: 0px;
    }

    to {
        top: -70px;
    }
}

.App_logo1 {
    animation: myothermove1 5s linear;
    transition: linear;
    animation-fill-mode: forwards;
}

@keyframes myothermove1 {
    from {
        right: 100px;
    }

    to {
        right: 140px;
    }
}

@media (max-width: 600px) {
    .main_box {
        padding-top: 30%;
    }

    .image_section {
        display: none !important;
    }

    .acc_box {
        width: 100% !important;
        margin: auto;
    }

    .web_view {
        display: none !important;
    }
}